#contact{
  input[type=text]{
    width:100%;
    border:0;
    border-bottom:1px solid #48464a;
    border-radius:0;
    outline:none;
    background:none;
    height:45px;
    padding-top:30px;
    font-family:$font-playfair;
    font-weight:400;
    color:#fff;
    letter-spacing: 2px;
  }
  input[type=submit]{
    background:none;
    color:#fff;
    font-family:$font-montserrat;
    font-weight:700;
    font-size:12px;
    margin-bottom: 35px;
    letter-spacing:1px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgZmlsbD0iI2ZmZiIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyNXB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyNSAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjUgMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjIuNTAzLDhsLTMuOTkyLDMuOTkzbC0wLjcyMy0wLjcyM0wyMS4wNiw4SDIuNVY3aDE4LjU2bC0zLjI3MS0zLjI3MWwwLjcyMy0wLjcyMkwyMi41MDMsN0gyMi41djFIMjIuNTAzeiIvPjwvc3ZnPg==);
    background-position: 270px 20px;
    background-repeat: no-repeat;
    &:hover{
      background:#fff;
      color:#000;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyNXB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyNSAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjUgMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjIuNTAzLDhsLTMuOTkyLDMuOTkzbC0wLjcyMy0wLjcyM0wyMS4wNiw4SDIuNVY3aDE4LjU2bC0zLjI3MS0zLjI3MWwwLjcyMy0wLjcyMkwyMi41MDMsN0gyMi41djFIMjIuNTAzeiIvPjwvc3ZnPg==);
      background-position: 270px 20px;
      background-repeat: no-repeat;
    }
    &:after{
      content: '\2192';
      padding-left: 10px;
      font-weight: normal;
    }
  }
  .form-control{
    &.default{
      background:none;
      border:0;
      border-bottom:1px solid #48464a;
      border-radius:0;
      outline:none;
      height: 60px;
      padding-top:30px;
      font-family:$font-playfair;
      font-weight:400;
      color:#fff;
      letter-spacing: 2px;
      &.error{
        border-bottom: 1px solid #d9bb62;
      }
    }
    &:focus{
      border-color: #48464a;
      box-shadow: none;
      &::-webkit-input-placeholder {
          color:#fff;
      }
      &::-moz-placeholder{
        color:#fff;
      }
      &::-ms-input-placeholder{
        color:#fff;
      }
      &:-o-input-placeholder{
          color:#fff;
      }
    }
  }
  textarea{
    border:0;
    width:100%;
    border-radius:0;
    outline:none;
    background:none;
    border-bottom:1px solid #48464a;
    min-height: 90px;
    resize:none;
    font-family:$font-playfair;
    font-weight:400;
    letter-spacing: 2px;
    margin-bottom: 35px;
  }
}
.contact-details{
  margin:0 0 0px 0;
  padding:0;
  width:100%;
  list-style:none;
  display: block;
  float: left;
  @include media_query(SS){
    margin:0 0 0px 0;
  }
  li{
    float:left;
    width:100%;
    line-height:30px;
    text-align:center;
    font-family:$font-playfair;
    font-size:17px;
    color:#a6a4a5;
    padding-bottom: 15px;
    a{
      text-decoration:underline;
      font-family:$font-montserrat;
      font-weight:700;
      font-size:14px;
      color:#ffffff;
      text-transform:uppercase;
      letter-spacing:2px;
    }
  }
}
.social{
  display:block;
  list-style:none;
  text-align:center;
  padding: 0;
  padding-top: 20px;
  @include media_query(SS){
    padding:0;
    margin:50px 0;
  }
  li{
      display:inline-block;
      width: 45px;
      height: 45px;
      border:1px solid #48464a;
      transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-left: 14px;
      &:first-child{
        margin-left: 0;
      }
    a{
      display: block;
       transform: rotate(-45deg);
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
      &:before{
         font-size: 22px;
         color: #9c9a9b;
         position: absolute;
         left: -5px;
      }
      &:hover{
        &:before{
          color: #d9bb62;
        }
      }
    }
  }
}
#contact{
  .btn{
    margin-bottom: 50px;
  }
}
